:root{
   --blue-color: #2196F3;
   --white-color: #FFFFFF;
   --p-color: #757575;
   --btn-bgd-color: #F5F4FA;
   --letter-spacing-02: 0.02em;
   --letter-spacing-03: 0.03em;
   --line-height-16px-14px: 1.14;
   --line-height-24px-14px: 1.71;
   --line-height-31px-26px: 1.19;
}
body{
   font-family: 'Roboto', sans-serif;
   letter-spacing: var(--letter-spacing-03);
   font-size: 14px;
   color: var(--h-color);
}
p{
   color: var(--p-color);
   letter-spacing: var(--letter-spacing-03);
   line-height: var(--line-height-24px-14px);
   font-size: 14px;
}
h3{
   color: var(--h-color);
   letter-spacing: var(--letter-spacing-03);
   text-transform: uppercase;
   line-height: var(--line-height-16px-14px);
   font-weight: 700;
   font-size: 14px;
}
li{
   list-style: none;
}
a{
   text-decoration: none;
   outline: none;
}
button {
   cursor: pointer;
}

footer{
   background: var(--bgd-color);
}
.header-logo-web{
   font-family: 'Raleway', sans-serif;
   color: var(--blue-color);
   font-weight: 700;
   text-decoration: none;
   line-height: var(--line-height-31px-26px);
   font-size: 26px;
}
.header-logo-studio {
   color: #000000;
   font-weight: 700;
   text-decoration: none;
   line-height: var(--line-height-31px-26px);
   font-size: 26px;
}
.menu-container{
   font-style: normal;
   font-weight: 500;
   font-size: 14px;
   letter-spacing: var(--letter-spacing-02);
   display: inline-block;
   line-height: var(--line-height-16px-14px);   
}
.menu-container .menu {
   color: var(--h-color);
}
.menu-container .menu:hover,
.menu-container .menu:focus {
   color: var(--blue-color);
}
.menu-container .menu:active {
   color: var(--blue-color);
}

.contacts-container {
   display: inline-block;
   font-size: 14px;
   line-height: var(--line-height-16px-14px);
}
.contacts-container .contact {
   color: var(--p-color);
}
.contacts-container .contact:hover,
.contacts-container .contact:focus {
   color: var(--blue-color);
}
.contacts-container .contact:active {
   color: var(--blue-color);
}

.buttons .button {   
   color: var(--h-color-);
   background: var(--btn-bgd-color);
   border: none;
}
.buttons .button:hover,
.buttons .button:focus {
   color: var(--white-color);
   background: var(--blue-color);
   border: none;
}
.buttons .button:active {
   color: var(--white-color);
   background: var(--blue-color);
   border: none;
}
                        
.footer-ref-address{
   color: var(--white-color);
   font-style: normal;
   line-height: var(--line-height-24px-14px);
}
.footer-ref-address:hover ,
.footer-ref-address:focus {
   color: var(--blue-color);
}
.footer-ref-address:active {
   color: var(--blue-color);
}


.footer-ref{
   line-height: var(--line-height-24px-14px);
   font-style: normal;
}
.footer-ref .ref{
   color: var(--white-color);
   color: rgba(255, 255, 255, 0.6);
}
.footer-ref .ref:hover, 
.footer-ref .ref:focus {
   color: var(--blue-color);
}
.footer-ref .ref:active {
   color: var(--blue-color);
}

.footer-logo-studio{
   color: var(--white-color);
   font-weight: 700;
   text-decoration: none;
   line-height: var(--line-height-31px-26px);
   font-size: 26px;
}
